<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name="TechieMen" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\kaito\OneDrive\Documents\Essay\Year1 Sem2\Introduction to OOP\Technician UI and Coding\Technician UI\Technician UI\TechieMen.mdf";Integrated Security=True'
	providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>